@font-face {
  font-family: 'egnikai-icons';
  src:
    url('fonts/icomoon/egnikai-icons.ttf?yuottj') format('truetype'),
    url('fonts/icomoon/egnikai-icons.woff?yuottj') format('woff'),
    url('fonts/icomoon/egnikai-icons.svg?yuottj#egnikai') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src:
    url('fonts/OpenSans/OpenSans-Regular.ttf?yuottj') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src:
    url('fonts/OpenSans/OpenSans-Bold.ttf?yuottj') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src:
    url('fonts/OpenSans/OpenSans-Semibold.ttf?yuottj') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src:
    url('fonts/OpenSans/OpenSans-Light.ttf?yuottj') format('truetype');
  font-weight: 300;
  font-style: normal;
}

