/*
 *You can import selection.json (app/assets/fonts/icomoon/selection.json) back to the IcoMoon app
 *using the Import Icons button (or via Main Menu → Manage Projects) to retrieve your icon selection.
 */

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'egnikai-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-egnikai-icons-10:before {
  content: "\e900";
  color: #bcbcbb;
}
.icon-egnikai-icons-11:before {
  content: "\e901";
  color: #bcbcbb;
}
.icon-egnikai-icons-12:before {
  content: "\e902";
  color: #bcbcbb;
}
.icon-egnikai-icons-04:before {
  content: "\e903";
  color: #bcbcbb;
}
