@import "node_modules/bulma/sass/utilities/initial-variables";
@import "variables";

/**
 ** Override variables provided by bulma
 ** https://bulma.io/documentation/overview/variables/
**/

/**
 ** Colors
 **
**/

$primary: $primary-color;
$white: $white-color;
$light: $white-smoke-color;
$grey-lighter: $grey-lighter-color;
$black: $black-color;
$text: $black-color;
$danger: $red-color;
$success: $green-color;

/**
 ** Fonts
 **
**/

$family-primary: $font-family-primary;
