.is-text-overflow {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.is-vertical-center {
  display: flex !important;
  align-items: center;
}

.is-horizontal-end {
  display: flex !important;
  justify-content: flex-end;
}

.is-read-only {
  cursor: not-allowed;
}

.center-block {
  margin-right: auto;
  margin-left: auto;
}

