/**
 ** color variables
 **
**/

$white-color: #FFFFFF;
$primary-color: #37B9D0;
$black-color: #010202;
$white-smoke-color: #F5F5F5;
$grey-lighter-color: #DEDEDE;
$red-color: #D12735;
$green-color: #92b879;


/**
 ** font variables
 **
**/

$font-family-primary: OpenSans;
