.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(245, 245, 245, 0.7) !important;
  &.is-loading {
    &:after {
      @include loader;
      border: 0.25em solid $primary;
      border-top-color: transparent;
      border-left-color: transparent;
      position: absolute;
      top: calc(50% - 2.5em);
      left: calc(50% - 2.5em);
      width: 5em;
      height: 5em;
    }
  }
}
