.navbar {
  left: 0;
  top: 0;
  position: fixed;
  width: 75px !important;
  height: 100vh;
  z-index: 1;
  background: $white !important;
  display: flex;
  flex-direction: column;

  .logo {
    display: block;
    transform: rotate(90deg);
    margin-top: 70px;
    color: $primary;
  }

  .tabs {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .tab {
      padding-top: 50px;
    }

    .active-tab {
      .icon::before {
        color: $primary;
      }
    }
  }
  ~ .hero-body {
    padding-left: 110px;
  }
}
