.problem {
  .card {
    height: 100%;
    &-content {
      padding-bottom: 50px;
      height: 100%;
    }
  }
  .description {
    margin: 20px 0;
  }
  .control {
    margin-top: 100px;
  }
  .tag {
    border: 1px solid $primary;
  }
  .button {
    padding: 5px;
    width: calc(100% - 3rem);
    position: absolute;
    bottom: 20px;
  }
}
