.modal {
  background: #fff;
  padding: 20px;
  width: 300px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;

  &.is-dialog {
    padding: 40px 20px;
  }
}
