.TextInput {
  position: relative;
  margin-bottom: 10px;
  margin-top: 2.25rem;
  &-input {
    display: block;
    background: none;
    padding: 0.125rem 0.125rem 0.0625rem;
    border: none;
    width: 100%;
    transition: all 0.38s ease;
    box-shadow: none !important;
    &:focus {
      border-color: $primary;
      outline: none;
      & ~ .TextInput-bar:before {
        width: 100%;
        left: 0;
      }
    }
    &:focus,
    &:valid {
      & ~ .TextInput-label {
        color: $primary;
        top: -2rem;
        left: 0
      }
    }
  }
  &-bar {
    position: relative;
    border-bottom: 0.0625rem solid $black;
    display: block;
    &:before {
      content: "";
      height: 0.125rem;
      width: 0;
      left: 50%;
      bottom: -0.0625rem;
      position: absolute;
      background: $primary;
      transition: left 0.38s ease, width 0.38s ease;
      z-index: 2;
    }
  }
  &-label {
    position: absolute;
    top: -0.25rem;
    left: 0;
    pointer-events: none;
    padding-left: 0.125rem;
    z-index: 1;
    font-size: 1rem;
    font-weight: normal;
    transition: all 0.38s ease;
  }
}
