.Toast {
  position: fixed;
  width: calc(100vw - 0.75rem);
  border-radius: 0;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  height: auto;
  cursor: default;
  .close {
    color: $white !important;
    background-color: transparent;
    border: none;
  }
}
