.instruction {
  .hero-body {
    padding-top: 0;
  }
  .title {
    margin-bottom: 20px;
  }
  .menu-list {
    li {
      padding: 10px 0;
    }
  }
  .button {
    padding: 20px 40px;
    height: auto;
    margin-top: 50px;
  }
}
