.header {
  .title {
    color: $primary;
  }
}

.page {
  padding: 30px 10% 0;
  background: $light;
}

.login {
  &::before {
    background: url('img/background.jpg') no-repeat center center fixed;
    background-size: cover;
    content: '';
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.1;
  }
  .subtitle {
    margin-bottom: 10%;
  }
  .card {
    width: 100%;
  }
  .card-content {
    padding: 30px 20px 40px;
  }
  .TextInput {
    margin: 70px 0;
  }
  .login-button {
    padding: 20px;
    height: auto;
    width: 100%;
    margin-bottom: 20px;
  }
}
