.problems {
  &.page {
    padding: 30px 3%;
  }
  .hero-body {
    padding-top: 0;
  }
  #codeEditor {
    height: 80vh !important;
  }
  .editor.column {
    padding: 0;
  }
  .problem-view {
    border: 2px solid $grey-lighter;
  }
  .files-list {
    background: $white;
  }
  .menu {
    padding-top: 30px;
    &-list {
      list-style-type: none;
    }
    &-list > li {
      cursor: pointer;
      &:before {
        content: "-";
        padding-right: 5px;
      }
      &.active-file {
        padding-right: 15px;
        position: relative;
        &::after {
          content: '>';
          position: absolute;
          right: 0;
        }
      }
    }

  }
  .error-result {
    white-space: pre-line;
  }
}
