.thankyou {
  &::before {
    background: url('img/background.jpg') no-repeat center center fixed;
    background-size: cover;
    content: '';
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.1;
  }
}

.thankyou-container {
  max-width: 560px;
}